name: Publish Matching Schematic PDFs on Push
on:
  push:
    branches:
      - 'main'
jobs:
  find-schematics:
    runs-on: ubuntu-latest
    outputs:
      schematics: ${{ steps.find.outputs.schematics }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Determine matching schematics
        id: find
        run: |
          matches=()
          for dir in */; do
            dir=${dir%/}
            [[ "$dir" = ".github" ]] && continue

            path="$dir/${dir}.kicad_sch"
            [ -f "$path" ] && matches+=("$path")
          done
          echo "schematics<<EOF" >> $GITHUB_OUTPUT
          printf "%s\n" "${matches[@]}" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  export-and-publish:
    needs: find-schematics
    uses: ./.github/workflows/export-schematic-pdfs.yml
    with:
      schematics: ${{ needs.find-schematics.outputs.schematics }}
    secrets: inherit
